exercice 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [3]:
print("Nombre de lignes avant suppression :", df.shape[0])

Nombre de lignes avant suppression : 891

In [4]:
duplicates = df.duplicated()
print("Nombre de doublons trouvés :", duplicates.sum())

Nombre de doublons trouvés : 0

In [5]:
df_cleaned = df.drop_duplicates()

In [6]:
print("Nombre de lignes après suppression :", df_cleaned.shape[0])

Nombre de lignes après suppression : 891

Exercice 2

In [7]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [8]:
df = pd.read_csv("train.csv")

In [9]:
print("Valeurs manquantes par colonne :\n", df.isnull().sum())

Valeurs manquantes par colonne :
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df_dropped = df.dropna()
print("\nNombre de lignes après suppression :", df_dropped.shape[0])

Nombre de lignes après suppression : 183

In [11]:
df_filled = df.fillna("Inconnu")  # Remplit toutes les valeurs NaN par "Inconnu"
print("\nExemple après remplissage :\n", df_filled.head())

Exemple après remplissage :
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare    Cabin Embarked
0      0         A/5 21171   7.2500  Inconnu        S
1      0          PC 17599  71.2833      C85        C
2      0  STON/O2. 3101282   7.9250  Inconnu        S
3      0            113803  53.1000     C123        S
4      0            373450   8.0500  Inconnu        S

In [13]:
imputer = SimpleImputer(strategy="mean")
df_imputed = df.copy()
df_imputed[["Age"]] = imputer.fit_transform(df[["Age"]])  # Ex : appliquer à l'âge
print("\nValeurs manquantes après imputation sur Age :", df_imputed["Age"].isnull())

Valeurs manquantes après imputation sur Age : 0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

exercice 3

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [15]:
df = pd.read_csv("train.csv")

In [16]:
df["Family_Size"] = df["SibSp"] + df["Parch"] + 1

In [17]:
df["Title"] = df["Name"].str.extract(" ([A-Za-z]+)\.", expand=False)

In [18]:
df = pd.get_dummies(df, columns=["Title"], drop_first=True)

In [19]:
label_encoder = LabelEncoder()
df["Sex"] = label_encoder.fit_transform(df["Sex"])

In [20]:
scaler = StandardScaler()
df[["Age", "Fare", "Family_Size"]] = scaler.fit_transform(df[["Age", "Fare", "Family_Size"]])

In [22]:
"Fare", "Family_Size"]])
"Family_Size", "Sex", "Title_Mr", "Age", "Fare"]].head())

SyntaxError: unmatched ']' (1545563914.py, line 2)

exercice 4