Exercice 1

A company’s financial reports stored in an Excel file. structuré
Photographs uploaded to a social media platform. non structuré
A collection of news articles on a website. non structuré
Inventory data in a relational database. structuré
Recorded interviews from a market research study. non structuré

Exercice 2
A series of blog posts about travel experiences. LNP
Audio recordings of customer service calls. LNP
Handwritten notes from a brainstorming session. LNP
A video tutorial on cooking. LNP

EXERCICE 3

In [1]:
import pandas as pd

In [3]:
train = pd.read_csv("train.csv")

In [4]:
print(train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

exercice 4

In [5]:
import pandas as pd

In [8]:
iris = pd.read_csv("iris_dataset.csv")
print(iris.head(5))

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

exercice 5

In [9]:
import pandas as pd

In [16]:
data = {

    "nom" :["nico" ,"mika" ,"sara"],
    "prenom" : ['nico' ,"mika" ,"sara"],
     "ville" : ['paris' ,"londres" ,"madrid"],
}

In [17]:
df = pd.DataFrame(data)

In [18]:
df.head()

    nom prenom    ville
0  nico   nico    paris
1  mika   mika  londres
2  sara   sara   madrid

In [19]:
excel = pd.export_excel("df.xlsx")

AttributeError: module 'pandas' has no attribute 'export_excel'

In [20]:
excel = df.to_excel('df.xlsx')

In [21]:
json = df.to_json('df.json')

exercice 6

In [22]:
import pandas as pd

In [23]:
df = pd.read_json("posts.json")

In [24]:
print(df)

    userId   id                                              title  \
0        1    1  sunt aut facere repellat provident occaecati e...
1        1    2                                       qui est esse
2        1    3  ea molestias quasi exercitationem repellat qui...
3        1    4                               eum et est occaecati
4        1    5                                 nesciunt quas odio
..     ...  ...                                                ...
95      10   96  quaerat velit veniam amet cupiditate aut numqu...
96      10   97         quas fugiat ut perspiciatis vero provident
97      10   98                        laboriosam dolor voluptates
98      10   99  temporibus sit alias delectus eligendi possimu...
99      10  100              at nam consequatur ea labore ea harum

                                                 body
0   quia et suscipit\nsuscipit recusandae consequu...
1   est rerum tempore vitae\nsequi sint nihil repr...
2   et iusto sed quo iure\nvoluptatem occaecati om...
3   ullam et saepe reiciendis voluptatem adipisci\...
4   repudiandae veniam quaerat sunt sed\nalias aut...
..                                                ...
95  in non odio excepturi sint eum\nlabore volupta...
96  eum non blanditiis soluta porro quibusdam volu...
97  doloremque ex facilis sit sint culpa\nsoluta a...
98  quo deleniti praesentium dicta non quod\naut e...
99  cupiditate quo est a modi nesciunt soluta\nips...

[100 rows x 4 columns]

In [25]:
print(df.head(5))

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

df.head()