Exercice 1

A company’s financial reports stored in an Excel file. structuré
Photographs uploaded to a social media platform. non structuré
A collection of news articles on a website. non structuré
Inventory data in a relational database. structuré
Recorded interviews from a market research study. non structuré

Exercice 2
A series of blog posts about travel experiences. LNP
Audio recordings of customer service calls. LNP
Handwritten notes from a brainstorming session. LNP
A video tutorial on cooking. LNP

EXERCICE 3

In [1]:
import pandas as pd

In [3]:
train = pd.read_csv("train.csv")

In [4]:
print(train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S